<ion-view view-title="发布车源">

  <ion-nav-bar class="bar-positive">
    <ion-nav-title>发布车源</ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button  back-button button-icon ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content class="bg-e4 has-header">
    <form>
      <div class="list add_form">
        <div class="item">
          <span class="input-label" style="width:auto;display: inline"><i class="icon ion-ios-location balanced"></i></span>
          <span ng-if="cityFrom.Province === ''" class="add_def">从哪里出发</span>
          <span ng-if="cityFrom.Province != ''">
            {{cityFrom.Province}} {{cityFrom.City}} {{cityFrom.County}}
          </span>
          <select-city selectvalue='cityFrom'></select-city>
        </div>
        <div class="item">
          <span class="input-label" style="width:auto;display: inline"><i class="icon ion-ios-location assertive"></i></span>
          <span ng-if="cityTo.Province === ''" class="add_def">到哪里去</span>
          <span ng-if="cityTo.Province != ''">
            {{cityTo.Province}} {{cityTo.City}} {{cityTo.County}}
          </span>
          <select-city selectvalue='cityTo'></select-city>
        </div>
        <div class="item">
          <span class="input-label" style="width:auto;display: inline"><i class="icon ion-clock"></i></span>
          <!--<span ng-if="dateTo.year === ''" class="add_def">选择可装车时间</span>-->
          <!--<span ng-if="dateTo.year != ''">-->
            <!--{{dateTo.year}}-{{dateTo.month}}-{{dateTo.day}}-->
          <!--</span>-->
          <select-date selectvalue='dateTo'></select-date>
        </div>
        <div class="item" ng-click="showPublishModal()">
          <span class="input-label" style="width:auto;display: inline"><i class="iconfont">&#xe602;</i></span>
          <span class="add_def">您的车辆</span>
        </div>
        <label class="item item-input">
          <span class="input-label" style="width:auto"><i class="icon ion-chatbox-working positive"></i></span>
          <input type="text" placeholder="给货主捎句话">
        </label>
      </div>
    </form>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="">提交</button>
    </div>
    {{cityFrom}}
  </ion-content>
</ion-view>

