<ion-view view-title="我的车源">

  <ion-nav-title>我的车源</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button  back-button button-icon ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!--<button class="button  button-icon ion-ios-plus-outline button-clear" ng-click="showPublishModal()">   &lt;!&ndash; 使按钮点击可以弹出左侧边栏 &ndash;&gt;-->
    <button class="button  button-icon ion-ios-plus-outline button-clear" ng-click="lorryInfo.toAdd()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right">
        <img src="../www/img/lorry.jpg">
        <div style="margin-bottom:5px"><i class="iconfont assertive" style="font-size:1.6rem;">
          &#xe60a;</i><span>湛江市麻章区</span></div>
        <div><i class="iconfont royal" style="font-size:1.6rem;">&#xe60b;</i><span>广州市越秀区</span></div>
        <p style="font-size:0.9rem;padding:5px;"><i class="iconfont" style="font-size:1.2rem;">&#xe60d;</i>&nbsp;2016-04-05早上装
        </p>
        <p style="font-size:0.9rem;padding-left:5px;"><i class="iconfont" style="font-size:1.2rem;">&#xe602;</i>&nbsp;厢式密封车&nbsp;5吨&nbsp;4.2米&nbsp;16.6方
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          删除
        </ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right">
        <img src="../www/img/lorry.jpg">
        <div style="margin-bottom:5px"><i class="iconfont assertive" style="font-size:1.6rem;">
          &#xe60a;</i><span>湛江市麻章区</span></div>
        <div><i class="iconfont royal" style="font-size:1.6rem;">&#xe60b;</i><span>广州市越秀区</span></div>
        <p style="font-size:0.9rem;padding:5px;"><i class="iconfont" style="font-size:1.2rem;">&#xe60d;</i>&nbsp;2016-04-05早上装
        </p>
        <p style="font-size:0.9rem;padding-left:5px;"><i class="iconfont" style="font-size:1.2rem;">&#xe602;</i>&nbsp;厢式密封车&nbsp;5吨&nbsp;4.2米&nbsp;16.6方
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          删除
        </ion-option-button>
      </ion-item>
  </ion-content>
</ion-view>
