<ion-view view-title="我的车辆" cache-view="false" hide-tabs>

  <ion-nav-title>我的车辆</ion-nav-title>
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button  back-button button-icon ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-nav-buttons side="right">
    <!--<button class="button  button-icon ion-ios-plus-outline button-clear" ng-click="showPublishModal()">   &lt;!&ndash; 使按钮点击可以弹出左侧边栏 &ndash;&gt;-->
    <button class="button  button-icon ion-ios-plus-outline button-clear" ng-click="lorry.toAdd()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="row" ng-if="lorry.showloading">
      <div class="col text-center padding" style="color: #a3a3a3;">
        <ion-spinner icon="ios"></ion-spinner>
        正在加载中.....
      </div>
    </div>
    <div ng-if="!lorry.showloading">
      <div class="row" ng-if="lorry.lorrys.length == 0">
        <div class="col text-center padding" style="color: #a3a3a3;"><i class="iconfont">&#xe61a;&nbsp;</i>您当前没有添加的车辆，快去添加吧！</div>
      </div>
      <ion-list ng-if="lorry.lorrys.length != 0">
        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="item in lorry.lorrys">
          <img src="{{api}}{{item.frontImg}}">
          <h2 class="title">{{item.number}}&emsp;{{item.lorryType}}</h2>
          <p>{{item.lorryLength}}米&nbsp;载重{{item.load}}吨&emsp;<span ng-if="item.space != ''">{{item.space}}平方米</span></p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-balanced" ng-click="">
            发布空车
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="lorry.dele(item._id)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>

