<ion-view view-title="我的车辆">

  <ion-nav-title>我的车辆</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button  back-button button-icon ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!--<button class="button  button-icon ion-ios-plus-outline button-clear" ng-click="showPublishModal()">   &lt;!&ndash; 使按钮点击可以弹出左侧边栏 &ndash;&gt;-->
    <button class="button  button-icon ion-ios-plus-outline button-clear" ng-click="toAdd()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right">
        <img src="../www/img/lorry.jpg">
        <h2 class="title">粤A5377&emsp;平板车</h2>
        <p>17.5米&nbsp;载重50吨&emsp;15m</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          删除
        </ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right">
        <img src="../www/img/lorry.jpg">
        <h2 class="title">粤A5377&emsp;平板车</h2>
        <p>17.5米&nbsp;载重50吨&emsp;15m</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

