<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <button class="button  back-button button-icon ion-ios-arrow-back button-clear" ng-click="lorryInfoAdd.closePublishModal()">发布车源</button>
    <h1 class="title">选择车辆</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>

      <ion-radio class="item item-thumbnail-left" ng-model="lorryInfoAdd.selectedLorry" ng-value="lorry" ng-repeat="lorry in lorryInfoAdd.lorrys">
          <img src="{{api}}{{lorry.frontImg}}">
        <h2 class="title">{{lorry.number}}&emsp;{{lorry.lorryType}}</h2>
        <p>{{lorry.lorryLength}}米&nbsp;载重{{lorry.load}}吨&emsp;<span ng-if="lorry.space != ''">{{lorry.space}}平方米</span></p>
      </ion-radio>
    </ion-list>
  </ion-content>
</ion-modal-view>

