<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}">

  <ion-tab title="找货源" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#menu/tabs/cargo">
    <ion-nav-view name="tab-cargo"></ion-nav-view>
  </ion-tab>
  <ion-tab title="运单记录" class="" icon-off="ion-ios-stopwatch" icon-on="ion-ios-stopwatch" href="#menu/tabs/order">
    <ion-nav-view name="tab-order"></ion-nav-view>
  </ion-tab>
  <ion-tab title="通知" icon-off="ion-chatbubble-working" badge="2" badge-style="badge-assertive" icon-on="ion-chatbubble-working" href="#menu/tabs/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

</ion-tabs>

